body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: var(--vscode-font-family);
  background: var(--vscode-editor-background);
  color: var(--vscode-foreground);
}

textarea,
input[type=text],
select {
  width: 100%;
  display: block;
  box-sizing: border-box;
}

textarea {
  height: 60px;
}

label {
  display: block;
}

.context-menu {
  border: 0 !important;
  box-shadow: 0 4px 8px var(--vscode-widget-shadow);
  border-radius: 3px;
  overflow: hidden;
}

.context-menu>div {
  padding: 0.5em 1em;
}

.context-menu>div:hover {
  color: var(--vscode-menu-selectionForeground);
}